<!DOCTYPE html>
<html lang="en" xml:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>数据源管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/lib/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/public.css" media="all">
    <link rel="stylesheet" href="/lib/font-awesome-4.7.0/css/font-awesome.min.css" media="all">
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <fieldset class="table-search-fieldset">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">数据源名称</label>
                            <div class="layui-input-inline">
                                <input type="text" id="datasourceName" autocomplete="off" class="layui-input" placeholder="请输入数据源名称">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">主机IP</label>
                            <div class="layui-input-inline">
                                <input type="text" id="host" autocomplete="off" class="layui-input" placeholder="请输入主机IP">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary"  lay-submit lay-filter="data-search-btn">
                                <i class="layui-icon"></i> 搜 索</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

        <table class="layui-hide" id="datasource_table" lay-filter="datasource_table"></table>
        <div id="laypage" class="layui-laypage-btn"></div>

    </div>
</div>

<script type="text/html" id="toolbar">
    <button class="layui-btn layui-btn-normal layui-btn-sm" lay-event="addDatasource">
        <i class="layui-icon">&#xe654;</i> 新增 </button>
</script>

<script type="text/html" id="tool">
    <button class="layui-btn layui-btn-primary layui-btn-xs data-add-btn" lay-event="edit"> 编辑 </button>
    <button class="layui-btn layui-btn-xs data-add-btn" lay-event="datasetBtn"> 采集数据集 </button>
    <button class="layui-btn layui-btn-xs layui-btn-danger data-delete-btn" lay-event="del"> 删除 </button>
</script>

<!---================表单开始======================-->
<script type="text/html" id="addWin">
    <div class="panel panel-default operation_datasource">
        <div class="layui-form layuimini-form" style="margin: 30px">
            <input type="text" name="datasourceId" hidden>
            <div class="layui-form-item">
                <label class="layui-form-label required">数据源名称</label>
                <div class="layui-input-block">
                    <input type="datasourceName" name="datasourceName" lay-verify="required" lay-reqtext="数据源名称不能为空" placeholder="请输入数据源名称" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label required">数据源类型</label>
                <div class="layui-input-block">
                    <select id="datasourceType" name="datasourceType" lay-filter="datasourceType" lay-reqtext="数据源类型名称不能为空" lay-verify="required">
                        <option value="" selected=""></option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">主机IP</label>
                <div class="layui-input-block">
                    <input type="host" name="host"  placeholder="请输入JDBC驱动" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">端口号</label>
                <div class="layui-input-block">
                    <input type="port" name="port" placeholder="请输入端口号" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label required">模式名</label>
                <div class="layui-input-block">
                    <input type="schemaName" name="schemaName" placeholder="请输入模式名" lay-verify="required" lay-reqtext="模式名不能为空" autocomplete="off" class="layui-input">
                    <tip>对应Mysql数据库名称</tip>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label required">用户名</label>
                <div class="layui-input-block">
                    <input type="username" name="username" placeholder="请输入用户名" lay-verify="required" lay-reqtext="用户名不能为空" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label required">密码</label>
                <div class="layui-input-block">
                    <input type="password" name="password" placeholder="请输入密码" lay-verify="required" lay-reqtext="密码不能为空" autocomplete="off" class="layui-input">
                </div>
            </div>
            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;"></fieldset>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn layui-btn-sm layui-btn-normal" lay-submit lay-filter="submit" type="submit">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;&nbsp;保存</button>
                    <button  class="layui-btn layui-btn-sm" lay-filter="test" lay-submit type="submit">
                        <i class="fa fa-chain-broken" aria-hidden="true"></i>  测试连接</button>
                    <button class="layui-btn layui-btn-sm layui-btn-primary" id="btn_cancel">
                        <i class="fa fa-undo" aria-hidden="true"></i>&nbsp;&nbsp;返回</button>
                </div>
            </div>
        </div>
    </div>
</script>
<!---================表单结束======================-->

<!--============数据集========================================================================================================-->
<script type="text/html" id="datasetWin">
    <div class="layuimini-container" style="margin: 10px">
        <table width="100%" style="align:left">
            <tr>
                <td style="width: 45%">
                    <div class="layuimini-main" >
                        <fieldset class="table-search-fieldset">
                            <legend>源数据对象</legend>
                            <div style="margin: 10px 10px 10px 10px">
                                <form class="layui-form layui-form-pane" action="">
                                    <div class="layui-form-item">
                                        <div class="layui-inline">
                                            <label class="layui-form-label">对象名称</label>
                                            <div class="layui-input-inline">
                                                <input type="text" id="tableName" autocomplete="off" class="layui-input" placeholder="请输入对象名称">
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <button type="submit" class="layui-btn layui-btn-primary"  lay-submit lay-filter="data-search-btn2">
                                                <i class="layui-icon"></i> 搜 索</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                          <table class="layui-hide" id="dataset_source_table" lay-filter="dataset_source_table"></table>
                        </fieldset>
                    </div>
                </td>
                <td align="center" style="width: 10%">
                    <button type="button" id="collectDataset" class="layui-btn layui-btn-normal">采集数据集 <i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
                </td>
                <td style="width: 45%">
                    <div class="layuimini-main" >
                        <fieldset class="table-search-fieldset">
                            <legend>已采集数据集</legend>
                            <div style="margin: 10px 10px 10px 10px">
                                <form class="layui-form layui-form-pane" action="">
                                    <div class="layui-form-item">
                                        <div class="layui-inline">
                                            <label class="layui-form-label">数据集名称</label>
                                            <div class="layui-input-inline">
                                                <input type="text" id="datasetName" autocomplete="off" class="layui-input" placeholder="请输入数据集名称">
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <button type="submit" class="layui-btn layui-btn-primary"  lay-submit lay-filter="data-search-btn3">
                                                <i class="layui-icon"></i> 搜 索</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                          <table class="layui-hide" id="dataset_target_table" lay-filter="dataset_target_table"></table>
                        </fieldset>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</script>

<script src="/lib/layui/layui.js" charset="utf-8"></script>
<script src="/js/lay-config.js?v=2.0.0" charset="utf-8"></script>
<script src="/js/core-util.js" charset="utf-8"></script>
<script>
    layui.use(['jquery', 'form','table','laypage', 'layer','laydate', 'miniAdmin'], function () {
        var table = layui.table,
            laypage = layui.laypage,
            form = layui.form,
            layer = layui.layer,
            $ = layui.jquery,
            miniAdmin = layui.miniAdmin,
            laydate = layui.laydate;
        var searchParam= {
            pageNum:1,
            pageSize:10,
            datasourceName:null,
            host:null,
        }
        var datasetParams;

        //数据源类型列表
        var dataTypeList = [];
        //日期范围
        laydate.render({
            elem: '#createTime',
            type: 'datetime',
            range: true
        });
        var initTable = function(){
            /*动态获取数据*/
            CoreUtil.sendAjax("/api/datasources",JSON.stringify(searchParam),function (res) {
                //初始化分页器
                laypageTable(res.data.totalRows,searchParam.pageNum);
                //初始化渲染数据
                if(res.data !=null){
                    loadTable(res.data.list);
                }
            },"POST",false, function (res) {
                //无权限访问操作日志列表提示
                layer.msg("抱歉！您暂无获取操作日志列表的权限");
                let noAuthorityData=[];
                loadTable(noAuthorityData);
            });
        }

        var initDataTypeList = function(){
            /*动态获取select数据*/
            CoreUtil.sendAjax("/api/dataTypeSelect",null,function (res) {
                dataTypeList = res.data;
                /*初始化表格*/
                initTable();
            },"POST",false, function (res) {
                //无权限访问操作日志列表提示
                layer.msg("抱歉！您暂无获取信息的权限");
                let noAuthorityData=[];
                loadTable(noAuthorityData);
            });
        }

        initDataTypeList();

        //渲染分页插件
        var laypageTable = function(count,currentPage) {
            laypage.render({
                elem: 'laypage'
                , count: count
                ,theme: '#1E9FFF'
                ,limit:searchParam.pageSize
                , layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
                ,curr: location.hash.replace('#!currentPage=', '') //获取起始页
                ,hash: 'currentPage' //自定义hash值
                , jump: function (obj,first) {
                    if (!first){
                        searchParam.pageNum=obj.curr;
                        searchParam.pageSize=obj.limit;
                        CoreUtil.sendAjax("/api/datasources",JSON.stringify(searchParam),function (res) {
                            if(res.data !=null){
                                loadTable(res.data.list);
                                laypageTable(res.data.totalRows,searchParam.pageNum);
                            }
                        },"POST",false, function (res) {
                            //无权限访问操作日志列表提示
                            layer.msg("抱歉！您暂无获取操作日志列表的权限");
                            let noAuthorityData=[];
                            loadTable(noAuthorityData);
                        });
                    }
                }
            });
        };

        //渲染table
        var loadTable = function (data) {
            //展示已知数据
            table.render({
                elem: '#datasource_table'
                ,cols: [
                    [
                        {type: 'checkbox', fixed: 'left'},
                        {type: 'numbers', title: '序号', width: 80},
                        {field: 'datasourceId', title: 'ID', hide: true},
                        {field: 'datasourceName', title: '数据源名称', width: 200},
                        {field: 'datasourceType', title: '数据源类型', width: 100, templet: function (data) {
                            for(let item of dataTypeList){
                                if(item.typeId === data.datasourceType){
                                    return item.typeName;
                                }
                            }
                        }},
                        {field: 'host', title: '主机IP', width: 150},
                        {field: 'port', title: '端口', width: 100},
                        {field: 'schemaName', title: '模式名', width: 120},
                        {title:'操作',toolbar:'#tool', align: 'center' ,width: 300}
                    ]
                ]
                ,data: data
                ,even: true
                ,limit: data.length
                ,limits: [10, 20, 30, 40, 50]
                ,toolbar: '#toolbar'
            });
        };


        $(document).on('click',"#btn_cancel",function () {
            layer.closeAll();
        });

        //打开新增或编辑窗口
        var openWindow = function (data,type) {
            var title = type === 'add' ? '新增数据源' : '修改数据源';
            var index = layer.open({
                title: title,
                type: 1,
                shade: 0.2,
                maxmin:false,
                shadeClose: true,
                area: ['100%', '100%'],
                content: $("#addWin").html(),
                success: function () {
                        /*动态获取select数据*/
                     CoreUtil.sendAjax("/api/dataTypeSelect",null,function (res) {
                            $.each(res.data, function (index, item) {
                                $("#datasourceType").append(new Option(item.typeName, item.typeId));// 下拉菜单里添加元素
                            });
                        if(type==='edit'){
                            $(".operation_datasource input[name=datasourceId]").val(data.datasourceId);
                            $(".operation_datasource select[name=datasourceType]").val(data.datasourceType);
                            $(".operation_datasource input[name=datasourceName]").val(data.datasourceName);
                            $(".operation_datasource input[name=host]").val(data.host);
                            $(".operation_datasource input[name=port]").val(data.port);
                            $(".operation_datasource input[name=databaseName]").val(data.databaseName);
                            $(".operation_datasource input[name=schemaName]").val(data.schemaName);
                            $(".operation_datasource input[name=username]").val(data.username);
                            $(".operation_datasource input[name=password]").val(data.password);
                        }else {
                            $(".operation_datasource input[name=datasourceId]").val('');
                        }
                        form.render();
                        layui.form.render("select");
                    },"POST",false, function (res) {
                        //无权限访问操作日志列表提示
                        layer.msg("抱歉！您暂无获取操作列表的权限");
                        let noAuthorityData=[];
                        loadTable(noAuthorityData);
                    });
                }
            });
            $(window).on("resize", function () {
                layer.full(index);
            });
        }

        //新增菜单权限事件
        table.on('toolbar(datasource_table)',function (obj) {
            if(obj.event === 'addDatasource'){
                openWindow(null,'add');
            }
        });

        //保存监听提交
        form.on('submit(submit)', function(data){
            //新增
            if(data.field.datasourceId===undefined || data.field.datasourceId===null || data.field.datasourceId===""){
                CoreUtil.sendAjax("/api/datasource",JSON.stringify(data.field),function (res) {
                    if(res.code === 0){
                        layer.closeAll();
                        initTable();
                    }
                    layer.msg(res.msg);
                },"POST",false, function (res) {
                    //新增用户无权限提示
                    layer.msg("抱歉！您暂无新增的权限");
                });
            }else {
                CoreUtil.sendAjax("/api/datasource",JSON.stringify(data.field),function (res) {
                    layer.closeAll();
                    initTable();
                    layer.msg(res.msg);
                },"PUT",false, function (res) {
                    //无权限更新角色提示
                    layer.msg("抱歉！您暂无更新的权限");
                });
            }
        });

        //保存监听提交
        form.on('submit(test)', function(data){
                CoreUtil.sendAjax("/api/testConnect",JSON.stringify(data.field),function (res) {
                    if(res.msg.indexOf("成功") != -1){
                        miniAdmin.success(res.msg);
                    }else {
                        miniAdmin.error(res.msg);
                    }
                },"POST",false, function (res) {
                    //无权限更新角色提示
                    layer.msg("抱歉！您暂无权限");
                });
        });

        table.on('tool(datasource_table)', function (obj) {
            var data = obj.data;
            if(obj.event === 'edit'){
                openWindow(data,'edit');
            }
            if(obj.event === 'del'){
                layer.confirm('确定要删除选中信息吗？', {
                    btn: ['确定','取消'], //按钮
                    title: '提示'
                }, function(index){
                    CoreUtil.sendAjax("/api/datasource/"+data.datasourceId,null,function (res) {
                        layer.close(index); //如果设定了yes回调，需进行手工关闭
                        initTable();
                        layer.msg(res.msg);
                    },"DELETE",true, function (res) {
                        //无权限删除操作日志提示
                        layer.msg("抱歉！您暂无删除操作的权限");
                    });
                }, function(index){
                    layer.close(index);
                });
            }
            if(obj.event === 'datasetBtn'){
                datasetParams = data;
                openDataset(data);
            }
        });

        // 监听搜索操作
        form.on('submit(data-search-btn)', function () {
            searchParam.datasourceName=$("#datasourceName").val();
            searchParam.host=$("#host").val();
            searchParam.pageNum=1;
            CoreUtil.sendAjax("/api/datasources",JSON.stringify(searchParam),function (res) {
                //初始化分页器
                laypageTable(res.data.totalRows,searchParam.pageNum);
                //初始化渲染数据
                if(res.data !=null){
                    loadTable(res.data.list);
                }
            },"POST",false, function (res) {
                //无权限访问操作日志列表提示
                layer.msg("抱歉！您暂无权限");
                let noAuthorityData=[];
                loadTable(noAuthorityData);
            });
            return false;
        });

<!--============数据集========================================================================================================-->

      var openDataset = function (data) {
          var index = layer.open({
              title: '采集数据集',
              type: 1,
              shade: 0.2,
              maxmin:false,
              shadeClose: true,
              area: ['100%', '100%'],
              content: $("#datasetWin").html(),
              success: function () {
                  //加载源表格
                  loadSourceTable(data);
                  //加载目的表格
                  loadTargetTable(data);
              }
          });
      }

        //渲染source table
        var loadSourceTable = function (data) {
            /*动态获取select数据*/
            CoreUtil.sendAjax("/api/datasetSource",JSON.stringify(data),function (res) {
                /*初始化表格*/
                //展示已知数据
                table.render({
                    elem: '#dataset_source_table'
                    ,cols: [
                        [
                            {type: 'checkbox', fixed: 'left'},
                            {type: 'numbers', title: '序号'},
                            {field: 'datasourceId', title: 'datasourceId', hide: true},
                            {field: 'schemaName', title: 'schemaName', hide: true},
                            {field: 'datasetName', title: '对象名称', minWidth: 280},
                            {field: 'datasetType', title: '类型', minWidth: 100},
                            {field: 'datasetComment', title: '注释', width: 200},
                        ]
                    ]
                    ,data: res.data
                    ,page: true
                    ,even: true
                    ,limit: 10
                    ,limits: [10, 20, 30, 40, 50]
                    ,height: 'full-230'
                    //,size: 'sm' //小尺寸的表格
                });
            },"POST",false, function (res) {
                //无权限访问列表提示
                layer.msg("抱歉！您暂无获取信息的权限");
                let noAuthorityData=[];
                loadSourceTable(noAuthorityData);
            });

        };

        // 监听搜索源数据集对象操作
        form.on('submit(data-search-btn2)', function () {
            datasetParams.tableName = $("#tableName").val();
            loadSourceTable(datasetParams);
            return false;
        });

        //渲染target_table
        var loadTargetTable = function (data) {
            var dataset = {
                datasourceId:null,
                datasetName:null
            }
            dataset.datasourceId = data.datasourceId;
            dataset.datasetName = $("#datasetName").val();
            /*动态获取select数据*/
            CoreUtil.sendAjax("/api/selectByDatasource",JSON.stringify(data),function (res) {
                /*初始化表格*/
                //展示已知数据
                table.render({
                    elem: '#dataset_target_table'
                    ,cols: [
                        [
                            {type: 'checkbox', fixed: 'left'},
                            {type: 'numbers', title: '序号'},
                            {field: 'datasourceId', title: 'datasourceId', hide: true},
                            {field: 'schemaName', title: 'schemaName', hide: true},
                            {field: 'datasetName', title: '对象名称', minWidth: 280},
                            {field: 'datasetType', title: '类型', minWidth: 100},
                            {field: 'datasetComment', title: '注释', width: 200},
                        ]
                    ]
                    ,data: res.data
                    ,page: true
                    ,even: true
                    ,limit: 10
                    ,limits: [10, 20, 30, 40, 50]
                    ,height: 'full-230'
                    //,size: 'sm' //小尺寸的表格
                });
            },"POST",false, function (res) {
                //无权限访问列表提示
                layer.msg("抱歉！您暂无获取信息的权限");
                let noAuthorityData=[];
                loadTargetTable(noAuthorityData);
            });
        };

        // 监听搜索源数据集对象操作
        form.on('submit(data-search-btn3)', function () {
            datasetParams.datasetName = $("#datasetName").val();
            loadTargetTable(datasetParams);
            return false;
        });

        $(document).on('click',"#collectDataset",function () {
            let data = table.checkStatus("dataset_source_table").data;
            if(data.length<1){
                layer.msg('请选择源数据对象。');
                return false;
            }
            CoreUtil.sendAjax("/api/collectDataset",JSON.stringify(data),function (res) {
                loadTargetTable(datasetParams);
                //加载源表格
                loadSourceTable(datasetParams);
                layer.msg(res.msg);
            },"POST",false, function (res) {
                //无权限访问操作日志列表提示
                layer.msg("抱歉！您暂无权限");
                let noAuthorityData=[];
                loadTable(noAuthorityData);
            });
        });



    });
</script>

</body>
</html>