<!DOCTYPE html>
<html lang="en" xml:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>注册服务</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/lib/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/public.css" media="all">
    <link rel="stylesheet" href="/lib/font-awesome-4.7.0/css/font-awesome.min.css" media="all">
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <fieldset class="table-search-fieldset">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">数据集名称</label>
                            <div class="layui-input-inline">
                                <input type="text" id="datasetName" autocomplete="off" class="layui-input" placeholder="请输入数据集名称">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">数据源名称</label>
                            <div class="layui-input-inline">
                                <input type="text" id="datasourceName" autocomplete="off" class="layui-input" placeholder="请输入数据源名称">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary"  lay-submit lay-filter="data-search-btn">
                                <i class="layui-icon"></i> 搜 索</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>
        <table class="layui-hide" id="query_view_table" lay-filter="query_view_table"></table>
        <div id="laypage" class="layui-laypage-btn"></div>
    </div>
</div>

<script type="text/html" id="toolbar">
     <button class="layui-btn layui-btn-normal layui-btn-sm" lay-event="addDatasourceType">
        <i class="layui-icon">&#xe654;</i> 新增接口服务 </button>
</script>

<script type="text/html" id="tool">
    <button class="layui-btn layui-btn-primary layui-btn-xs data-add-btn" lay-event="edit"> 编辑 </button>
    <button class="layui-btn layui-btn-xs data-add-btn" lay-event="syncColumn"> 数据列 </button>
    <button class="layui-btn layui-btn-xs layui-btn-danger data-delete-btn" lay-event="del"> 删除 </button>
</script>

<!---================新增WIN表单开始======================-->
<script type="text/html" id="addWin">
    <div class="panel panel-default operation_query_view">
        <div class="layui-form layuimini-form" style="margin: 30px">
            <input type="text" name="viewId" hidden>
            <div class="layui-form-item">
                <label class="layui-form-label required">服务名称</label>
                <div class="layui-input-block">
                    <input type="viewName" name="viewName" lay-verify="required" placeholder="请输入服务名称" autocomplete="off" class="layui-input" >
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label required">数据源</label>
                <div class="layui-input-block">
                    <input type="text" name="datasourceId" hidden>
                    <input type="datasourceName" id="datasourceNameWin" name="datasourceName" placeholder="请选择数据源" autocomplete="off" class="layui-input" readonly>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label required">数据集</label>
                <div class="layui-input-block">
                    <input type="text" name="datasetId" hidden>
                    <input type="datasetName" id="datasetNameWin" name="datasetName" placeholder="请选择数据集" autocomplete="off" class="layui-input" readonly>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">状态</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="status" lay-skin="switch" lay-filter="switch" lay-text="启用|禁用" checked>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">备注</label>
                <div class="layui-input-block">
                    <textarea type="note" name="note"  placeholder="请输入内容" class="layui-textarea"></textarea>
                </div>
            </div>
            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;"></fieldset>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn layui-btn-sm layui-btn-normal" lay-submit lay-filter="submit" type="submit">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;&nbsp;保存</button>
                    <button class="layui-btn layui-btn-sm layui-btn-primary" id="btn_cancel">
                        <i class="fa fa-undo" aria-hidden="true"></i>&nbsp;&nbsp;返回</button>
                </div>
            </div>
        </div>
    </div>
</script>
<!---================表单结束======================-->

<!---================数据列窗口======================-->
<script type="text/html" id="columnWin">
    <div class="layuimini-container" style="margin: 10px">
        <div class="layuimini-main" >
            <fieldset class="table-search-fieldset">
                <legend>搜索数据列</legend>
                <div style="margin: 10px 10px 10px 10px">
                    <form class="layui-form layui-form-pane" action="">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">列名称</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="columnName" autocomplete="off" class="layui-input" placeholder="请输入列名称">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <button type="submit" class="layui-btn layui-btn-primary"  lay-submit lay-filter="data-search-btn2">
                                    <i class="layui-icon"></i> 搜 索</button>
                            </div>
                        </div>
                    </form>
                </div>
            </fieldset>
            <table class="layui-hide" id="dataColumn_table" lay-filter="dataColumn_table"></table>
        </div>
    </div>
</script>

<script type="text/html" id="columnToolbar">
    <button class="layui-btn layui-btn-normal layui-btn-sm" lay-event="syncColumns">
        <i class="fa fa-exchange" aria-hidden="true"></i>&nbsp;&nbsp;同步数据列</button>
    <button class="layui-btn layui-btn-danger layui-btn-sm" lay-event="deleteColumns">
        <i class="fa fa-trash" aria-hidden="true"></i>&nbsp;&nbsp;删除数据列</button>
</script>

<script src="/lib/layui/layui.js" charset="utf-8"></script>
<script src="/js/core-util.js" charset="utf-8"></script>
<script src="/js/lay-config.js?v=2.0.0" charset="utf-8"></script>
<script>
    layui.use(['jquery', 'form','table','laypage', 'layer','laydate','tableSelect'], function () {
        var table = layui.table,
            laypage = layui.laypage,
            form = layui.form,
            layer = layui.layer,
            $ = layui.jquery,
            tableSelect = layui.tableSelect,
            laydate = layui.laydate;
        var searchParam= {
            pageNum:1,
            pageSize:10,
            datasetName:null,
            datasourceName:null
        }
        var dataColumn = {
            viewId : null,
            columnName : null
        };
        //日期范围
        laydate.render({
            elem: '#createTime',
            type: 'datetime',
            range: true
        });


        var initTable = function(){
            /*动态获取数据*/
            CoreUtil.sendAjax("/api/queryViews",JSON.stringify(searchParam),function (res) {
                //初始化分页器
                laypageTable(res.data.totalRows,searchParam.pageNum);
                //初始化渲染数据
                if(res.data !=null){
                    loadTable(res.data.list);
                }
            },"POST",false, function (res) {
                //无权限访问操作日志列表提示
                layer.msg("抱歉！您暂无获取操作列表的权限");
                var noAuthorityData=[];
                loadTable(noAuthorityData);
            });
        }
        /*初始化表格*/
        initTable();

        //渲染分页插件
        var laypageTable = function(count,currentPage) {
            laypage.render({
                elem: 'laypage'
                , count: count
                ,theme: '#1E9FFF'
                ,limit:searchParam.pageSize
                , layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
                ,curr: location.hash.replace('#!currentPage=', '') //获取起始页
                ,hash: 'currentPage' //自定义hash值
                , jump: function (obj,first) {
                    if (!first){
                        searchParam.pageNum=obj.curr;
                        searchParam.pageSize=obj.limit;
                        CoreUtil.sendAjax("/api/queryViews",JSON.stringify(searchParam),function (res) {
                            if(res.data !=null){
                                loadTable(res.data.list);
                                laypageTable(res.data.totalRows,searchParam.pageNum);
                            }
                        },"POST",false, function (res) {
                            //无权限访问操作日志列表提示
                            layer.msg("抱歉！您暂无获取操作列表的权限");
                            var noAuthorityData=[];
                            loadTable(noAuthorityData);
                        });
                    }
                }
            });
        };

        //渲染table
        var loadTable = function (data) {
            //展示已知数据
            table.render({
                elem: '#query_view_table'
                ,cols: [
                    [
                        {type: 'checkbox', fixed: 'left'},
                        {type: 'numbers', title: '序号', width: 80},
                        {field: 'viewId', title: 'ID', hide: true},
                        {field: 'viewName', title: '服务名称', minWidth: 300},
                        {field: 'status', title: '状态', width: 100,templet: function (item) {
                                if(item.status === 1){
                                    return  '<span class="layui-badge layui-bg-green">启用</span>';
                                }else{
                                    return  '<span class="layui-badge">禁用</span>';
                                }
                            }
                        },
                        {field: 'datasetId', title: '数据集ID', hide: true},
                        {field: 'datasetName', title: '数据集', width: 300},
                        {field: 'datasourceId', title: '数据源ID', hide: true},
                        {field: 'datasourceName', title: '数据源', width: 300},
                        {title:'操作',toolbar:'#tool', align: 'center' ,width: 300}
                    ]
                ]
                ,data: data
                ,even: true
                ,limit: data.length
                ,limits: [10, 20, 30, 40, 50]
                ,toolbar: '#toolbar'
            });
        };

        $(document).on('click',"#btn_cancel",function () {
            layer.closeAll();
        });

        //打开新增或编辑窗口
        var openWindow = function (data,type) {
            var title = type === 'add' ? '新增数据源类型' : '修改数据源类型';
            let initDatasetSelectData = {datasourceId:''};;
            var index = layer.open({
                title: title,
                type: 1,
                shade: 0.2,
                maxmin:false,
                shadeClose: true,
                area: ['100%', '100%'],
                content: $("#addWin").html(),
                success: function () {
                    if(type==='edit'){
                        initDatasetSelectData = {datasourceId:data.datasourceId};
                        $(".operation_query_view input[name=viewId]").val(data.viewId);
                        $(".operation_query_view input[name=viewName]").val(data.viewName);
                        $(".operation_query_view input[name=datasetId]").val(data.datasetId);
                        $(".operation_query_view input[name=datasourceId]").val(data.datasourceId);
                        $(".operation_query_view input[name=datasourceName]").val(data.datasourceName);
                        $(".operation_query_view input[name=datasetId]").val(data.datasetId);
                        $(".operation_query_view input[name=datasetName]").val(data.datasetName);
                        if(data.status == 1){
                            $(".operation_query_view input[name=status]").attr('checked','checked');
                        }else{
                            $(".operation_query_view input[name=status]").removeAttr('checked');
                        }
                        $(".operation_query_view input[name=note]").val(data.note);
                    }else {
                        $(".operation_query_view input[name=viewId]").val('');
                    }
                    form.render();
                    initDatasourceSelect();
                    initDatasetSelect(initDatasetSelectData);
                }
            });
            $(window).on("resize", function () {
                layer.full(index);
            });
        }

        //新增菜单权限事件
        table.on('toolbar(query_view_table)',function (obj) {
            if(obj.event === 'addDatasourceType'){
                openWindow(null,'add');
            }
        });

        //保存监听提交
        form.on('submit(submit)', function(data){
            data.field.status = data.field.status === 'on' ? 1 : 0;
            //新增
            if(data.field.viewId===undefined || data.field.viewId===null || data.field.viewId===""){
                CoreUtil.sendAjax("/api/queryView",JSON.stringify(data.field),function (res) {
                    if(res.code === 0){
                        layer.closeAll();
                        initTable();
                    }
                    layer.msg(res.msg);
                },"POST",false, function (res) {
                    //新增用户无权限提示
                    layer.msg("抱歉！您暂无新增的权限");
                });
            }else {
                CoreUtil.sendAjax("/api/queryView",JSON.stringify(data.field),function (res) {
                    if(res.code === 0){
                        layer.closeAll();
                        initTable();
                    }
                    layer.msg(res.msg);
                },"PUT",false, function (res) {
                    //无权限更新角色提示
                    layer.msg("抱歉！您暂无更新的权限");
                });
            }
        });

        table.on('tool(query_view_table)', function (obj) {
            let data = obj.data;
            if(obj.event === 'edit'){
                openWindow(data,'edit');
            }
            if(obj.event === 'del'){
                layer.confirm('确定要删除选中信息吗？', {
                    btn: ['确定','取消'], //按钮
                    title: '提示'
                }, function(index){
                    CoreUtil.sendAjax("/api/queryView/"+data.viewId,null,function (res) {
                        layer.close(index); //如果设定了yes回调，需进行手工关闭
                        initTable();
                        layer.msg(res.msg);
                    },"DELETE",true, function (res) {
                        //无权限删除操作日志提示
                        layer.msg("抱歉！您暂无删除操作的权限");
                    });
                }, function(index){
                    layer.close(index);
                });
            }
            if(obj.event === 'syncColumn'){
                openColumnWin(data);
            }
        });

        // 监听搜索操作
        form.on('submit(data-search-btn)', function () {
            searchParam.datasetName=$("#datasetName").val();
            searchParam.datasourceName=$("#datasourceName").val();
            searchParam.pageNum=1;
            CoreUtil.sendAjax("/api/datasets",JSON.stringify(searchParam),function (res) {
                //初始化分页器
                laypageTable(res.data.totalRows,searchParam.pageNum);
                //初始化渲染数据
                if(res.data !=null){
                    loadTable(res.data.list);
                }
            },"POST",false, function (res) {
                //无权限访问操作日志列表提示
                layer.msg("抱歉！您暂无权限");
                let noAuthorityData=[];
                loadTable(noAuthorityData);
            });
            return false;
        });

        let openColumnWin = function (data) {
            let index = layer.open({
                title: '数据列',
                type: 1,
                shade: 0.2,
                maxmin:false,
                shadeClose: true,
                area: ['100%', '100%'],
                content: $("#columnWin").html(),
                success: function () {
                    dataColumn.viewId = data.viewId;
                    loadColumnTable(dataColumn);
                }
            });
        }

        //渲染ColumnTable
        var loadColumnTable = function (data) {
            data.columnName = $("#columnName").val();
            console.log(data)
            /*动态获取select数据*/
            CoreUtil.sendAjax("/api/queryViewsColumns",JSON.stringify(data),function (res) {
                /*初始化表格*/
                //展示已知数据
                table.render({
                    elem: '#dataColumn_table'
                    ,cols: [
                        [
                            {type: 'checkbox', fixed: 'left'},
                            {type: 'numbers', title: '序号'},
                            {field: 'columnId', title: 'datasourceId', hide: true},
                            {field: 'columnName', title: '数据列名称', width: 400},
                            {field: 'dataType', title: '数据类型', width: 180},
                            {field: 'columnComment', title: '注释', width: 200},
                            {field: 'isResult', title: '是否返回值', width: 120},
                            {field: 'isQuery', title: '是否查询条件', width: 120},
                            {field: 'conditionType', title: '查询类型', width: 120},
                            {field: 'sortNum', title: '排序', width: 80},
                        ]
                    ]
                    ,toolbar: '#columnToolbar'
                    ,data: res.data
                    ,page: true
                    ,even: true
                    ,limit: 10
                    ,limits: [10, 20, 30, 40, 50]
                    //,size: 'sm' //小尺寸的表格
                });
            },"POST",false, function (res) {
                //无权限访问列表提示
                layer.msg("抱歉！您暂无获取信息的权限");
                let noAuthorityData=[];
                loadColumnTable(noAuthorityData);
            });
        };

        //新增菜单权限事件
        table.on('toolbar(dataColumn_table)',function (obj) {
            if(obj.event === 'syncColumns'){
                CoreUtil.sendAjax("/api/syncColumns",JSON.stringify(dataColumn),function (res) {
                    loadColumnTable(dataColumn);
                },"POST",false, function (res) {
                    //无权限访问操作日志列表提示
                    layer.msg("抱歉！您暂无权限");
                    let noAuthorityData=[];
                    loadTable(noAuthorityData);
                });
                return false;
            }
            if(obj.event === 'deleteColumns'){
                var checkDatas = table.checkStatus('dataColumn_table').data;
                layer.confirm('确定要删除选中信息吗？', {
                    btn: ['确定','取消'], //按钮
                    title: '提示'
                }, function(index){
                    CoreUtil.sendAjax("/api/batchDeleteViewColumns",JSON.stringify(checkDatas),function (res) {
                        layer.close(index); //如果设定了yes回调，需进行手工关闭
                        loadColumnTable(dataColumn);
                        layer.msg(res.msg);
                    },"POST",true, function (res) {
                        //无权限删除操作日志提示
                        layer.msg("抱歉！您暂无删除操作的权限");
                    });
                }, function(index){
                    layer.close(index);
                });
            }
        });

        // 监听搜索操作
        form.on('submit(data-search-btn2)', function () {
            loadColumnTable(dataColumn);
            return false;
        });


        //数据源下拉框
        var initDatasourceSelect = function(){
            let a = {datasourceName:''};
            CoreUtil.sendAjax('/api/datasourceSelect',JSON.stringify(a),function (res) {
                tableSelect.render({
                    elem: '#datasourceNameWin',	//定义输入框input对象 必填
                    checkedKey: 'datasourceId', //表格的唯一建值，非常重要，影响到选中状态 必填
                    searchKey: 'datasourceName',	//搜索输入框的name值 默认keyword
                    searchPlaceholder: '数据源名称搜索',	//搜索输入框的提示文字 默认关键词搜索
                    searchUrl:'/api/datasourceSelect',  //点击搜索后的url
                    width:800,
                    table: {	//定义表格参数，与LAYUI的TABLE模块一致，只是无需再定义表格elem
                        data: res.data,
                        cols: [
                            [
                                { type: 'radio' },
                                {type: 'numbers', title: '序号'},
                                {field: 'datasourceId', title: 'ID', hide: true},
                                {field: 'datasourceName', title: '数据源名称',minWidth: 300},
                                {field: 'host', title: '主机IP', minWidth: 200},
                            ]
                        ]
                        ,page: true
                        ,even: true
                        ,limit: 10
                        ,limits: [10, 20, 30]
                    },
                    done: function (elem, data) {
                        $(".operation_query_view input[name=datasourceName]").val(data.data[0].datasourceName);
                        $(".operation_query_view input[name=datasourceId]").val(data.data[0].datasourceId);
                        $(".operation_query_view input[name=datasetName]").val('');
                        $(".operation_query_view input[name=datasetId]").val('');
                        //选择完后的回调，包含2个返回值 elem:返回之前input对象；data:表格返回的选中的数据 []
                        //拿到data[]后 就按照业务需求做想做的事情啦~比如加个隐藏域放ID...
                        let initDatasetSelectData = {datasourceId:data.data[0].datasourceId};
                        initDatasetSelect(initDatasetSelectData);
                    }
                });
            },"POST",false, function (res) {
                //无权限访问操作日志列表提示
                layer.msg("抱歉！您暂无权限");
                let noAuthorityData=[];
                loadTable(noAuthorityData);
            });
        }

        //数据集下拉框
        var initDatasetSelect = function(data){
            CoreUtil.sendAjax('/api/selectByDatasource',JSON.stringify(data),function (res) {
                tableSelect.render({
                    elem: '#datasetNameWin',	//定义输入框input对象 必填
                    checkedKey: 'datasetId', //表格的唯一建值，非常重要，影响到选中状态 必填
                    searchKey: 'datasetName',	//搜索输入框的name值 默认keyword
                    searchPlaceholder: '数据集名称搜索',	//搜索输入框的提示文字 默认关键词搜索
                    searchUrl:'/api/selectByDatasource', //点击搜索后的url
                    fixedValue: {datasourceId:data.datasourceId},  //级联时，父级id
                    width:800,
                    table: {	//定义表格参数，与LAYUI的TABLE模块一致，只是无需再定义表格elem
                        data: res.data,
                        cols: [
                            [
                                { type: 'radio'},
                                {type: 'numbers', title: '序号'},
                                {field: 'datasetId', title: 'ID', hide: true},
                                {field: 'datasetName', title: '数据集名称',minWidth: 300},
                                {field: 'datasetComment', title: '数据集注释', minWidth: 200},
                            ]
                        ]
                        ,page: true
                        ,even: true
                        ,limit: 10
                        ,limits: [10, 20, 30]
                    },
                    done: function (elem, data) {
                        $(".operation_query_view input[name=datasetName]").val(data.data[0].datasetName);
                        $(".operation_query_view input[name=datasetId]").val(data.data[0].datasetId);
                        //选择完后的回调，包含2个返回值 elem:返回之前input对象；data:表格返回的选中的数据 []
                        //拿到data[]后 就按照业务需求做想做的事情啦~比如加个隐藏域放ID...
                    }
                });
            },"POST",false, function (res) {
                //无权限访问操作日志列表提示
                layer.msg("抱歉！您暂无权限");
                let noAuthorityData=[];
                loadTable(noAuthorityData);
            });
        }

    });
</script>

</body>
</html>